{% extends "layouts/base-modal.html" %}

{% block title %} Cliente {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/cliente/todos'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}
<form method="POST" class="modal-form post-form" action="/cliente/">
    {% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %} Cliente {% endblock modal-content-title %}
    {% block modal-content %}
    {% csrf_token %}
    Trae errores {{ cliente.errors }}
    <ul class="nav nav-pills nav-secondary nav-pills-no-bd mb-3" id="tabClientes" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-general-tab-nobd" data-toggle="pill" href="#pills-general-nobd" role="tab" aria-controls="pills-general-nobd" aria-selected="true">Datos generales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-admnistracion-tab-nobd" data-toggle="pill" href="#pills-admnistracion-nobd" role="tab" aria-controls="pills-admnistracion-nobd" aria-selected="false">Administración</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-tecnico-tab-nobd" data-toggle="pill" href="#pills-tecnico-nobd" role="tab" aria-controls="pills-tecnico-nobd" aria-selected="false">Técnico</a>
        </li>
    </ul>
    <div class="tab-content mb-3" id="tabClientesContenido">
      <div class="tab-pane fade show active" id="pills-general-nobd" role="tabpanel" aria-labelledby="pills-general-tab-nobd">
          <div class="form-row m-0 p-2">
            <div class="form-group col-12 col-xs-5 col-sm-5 col-lg-3">
                <label class="col-form-label col-form-label-sm">NIF:</label>
                <input type="text" name="nif" id="id_nif" class="form-control form-control-sm" required maxlength="100"
                       value="{{ cliente.nif.value }}"/>
            </div>
            <div class="form-group col-12 col-xs-7 col-sm-7 col-lg-4">
                <label class="col-form-label col-form-label-sm">Razón social:</label>
                <input type="text" name="razon_social" id="id_razon_social" class="form-control form-control-sm" required
                       maxlength="100"
                       value="{{ cliente.razon_social.value }}"/>
            </div>
            <div class="form-group col-12 col-xs-12 col-sm-12 col-lg-5">
                <label class="col-form-label col-form-label-sm">Dirección:</label>
                <input type="text" name="direccion" id="id_direccion" class="form-control form-control-sm" required
                       maxlength="255" value="{{ cliente.direccion.value }}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-4">
                <label class="col-form-label col-form-label-sm">Población:</label>
                <input type="text" name="poblacion" id="id_poblacion" class="form-control form-control-sm" required
                       maxlength="100" value="{{cliente.poblacion.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-4">
                <label class="col-form-label col-form-label-sm">Provincia:</label>
                <input type="text" name="provincia" id="id_provincia" class="form-control form-control-sm" required
                       maxlength="100" value="{{ cliente.provincia.value }}"/>
            </div>
            <div class="form-group col-12 col-sm-4 col-sm-4 col-lg-4">
                <label class="col-form-label col-form-label-sm">Código Postal:</label>
                <input type="text" name="codigo_postal" id="id_codigo_postal" class="form-control form-control-sm" required
                       maxlength="100" value="{{ cliente.codigo_postal.value }}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                <label class="col-form-label col-form-label-sm">Teléfono:</label>
                <input type="text" name="telefono" id="id_telefono" class="form-control form-control-sm" required
                       maxlength="100" value="{{ cliente.telefono.value }}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                <label class="col-form-label col-form-label-sm">Movil:</label>
                <input type="text" name="movil" id="id_movil" class="form-control form-control-sm" required
                       maxlength="100" value="{{ cliente.movil.value }}"/>
            </div>
            <div class="form-group col-12 col-xs-12 col-sm-12 col-lg-6">
                <label class="col-form-label col-form-label-sm">e-mail:</label>
                <input type="text" name="email" id="id_email" class="form-control form-control-sm" required
                       maxlength="100" value="{{ cliente.email.value }}"/>
            </div>
            <div class="form-group form-inline col-12">
                estado > {{ cliente.cliente_estado.value }} < esado
                <br>
                estado > {{ cliente.cliente_estado }} < esado
                <br>
                <label class="col-form-label mr-3">Estado:</label>
                <input type="checkbox" name="cliente_estado" id="id_cliente_estado" class="form-control"
                       value="True" {% if cliente.cliente_estado.value %}checked{% endif %} />
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="pills-admnistracion-nobd" role="tabpanel" aria-labelledby="pills-admnistracion-tab-nobd">
          <div class="form-row m-0 p-2">
            <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                <label class="col-form-label">Nombre:</label>
                <input type="text" name="administracion_nombre" id="id_administracion_nombre" class="form-control" required
                       maxlength="100" value="{{ cliente.administracion_nombre.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                <label class="col-form-label">Cargo :</label>
                <input type="text" name="administracion_cargo" id="id_administracion_cargo" class="form-control" required
                       maxlength="100" value="{{ cliente.administracion_cargo.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-12 col-sm-6 col-lg-6">
                <label class="col-form-label">e-mail:</label>
                <input type="text" name="administracion_email" id="id_administracion_email" class="form-control" required
                       maxlength="100" value="{{ cliente.administracion_email.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                <label class="col-form-label">Teléfono:</label>
                <input type="text" name="administracion_telefono" id="id_administracion_telefono" class="form-control"
                       required
                       maxlength="100" value="{{ cliente.administracion_telefono.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                <label class="col-form-label">Movil:</label>
                <input type="text" name="administracion_movil" id="id_administracion_movil" class="form-control" required
                       maxlength="100" value="{{ cliente.administracion_movil.value}}"/>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="pills-tecnico-nobd" role="tabpanel" aria-labelledby="pills-tecnico-tab-nobd">
          <div class="form-row m-0 p-2">
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                <label class="col-form-label">Nombre:</label>
                <input type="text" name="tecnico_nombre" id="id_tecnico_nombre" class="form-control" required
                       maxlength="100" value="{{ cliente.tecnico_nombre.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                <label class="col-form-label">Cargo :</label>
                <input type="text" name="tecnico_cargo" id="id_tecnico_cargo" class="form-control" required
                       maxlength="100" value="{{ cliente.tecnico_cargo.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-12 col-sm-6 col-lg-6">
                <label class="col-form-label">e-mail:</label>
                <input type="text" name="tecnico_email" id="id_tecnico_email" class="form-control" required
                       maxlength="100" value="{{ cliente.tecnico_email.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                <label class="col-form-label">Teléfono:</label>
                <input type="text" name="tecnico_telefono" id="id_tecnico_telefono" class="form-control" required
                       maxlength="100" value="{{ cliente.tecnico_telefono.value}}"/>
            </div>
            <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                <label class="col-form-label">Movil:</label>
                <input type="text" name="tecnico_movil" id="id_tecnico_movil" class="form-control" required
                       maxlength="100" value="{{ cliente.tecnico_movil.value}}"/>
            </div>
          </div>
      </div>
    </div>
    <div class="form-row m-0 p-2">
        <div class="form-group col-12">
            {% if cliente.errors %}
            <div class="alert alert-danger my-1">
                {% for field in cliente %}
                {% if field.errors %}
                <strong class="mr-3">{{ field.name | capfirst }}: </strong>
                <br>
                {% for error in field.errors %}
                * <strong> {{ error|escape }}</strong>
                {% endfor %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
            {% for error in cliente.non_field_errors %}
            <div class="alert alert-danger">
                * {{field.name}} <strong>{{ error|escape }}</strong>
                <br>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endblock modal-content %}
    {% block modal-content-footer %}
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="reset" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
            onclick="javascript:window.location='/cliente/todos'">Cerrar
    </button>
    {% endblock modal-content-footer %}
    {% block modal-content-form-tag-end %}
</form>
{% endblock modal-content-form-tag-end %}
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}