{% extends "layouts/base-modal.html" %}

{% block title %} Instalacion {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-form-tag-begin %}
<form method="POST" class="modal-form post-form" action="/instalacion/">
    {% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %} Instalación {% endblock modal-content-title %}
    {% block modal-content %}
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        {% if instalacion.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in instalacion.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{field.name}} <strong>{{ error|escape }}</strong>
                                </div>
                                <br>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label class="col-form-label">Nombre Comercial:</label>
                            <input type="text" name="nombre_comercial" id="id_nombre_comercial" class="form-control" required maxlength="100"
                                   value="{{ instalacion.nombre_comercial.value }}"/>
                            <div class="alert alert-danger" hidden="{{instalacion.nombre_comercial.error }}">
                                <strong>{{ instalacion.nombre_comercial.error|escape }}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Dirección:</label>
                            <input type="text" name="direccion" id="id_direccion" class="form-control" required
                                   maxlength="255" value="{{ instalacion.direccion.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Población:</label>
                            <input type="text" name="poblacion" id="id_poblacion" class="form-control" required
                                   maxlength="100" value="{{instalacion.poblacion.value}}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Provincia:</label>
                            <input type="text" name="provincia" id="id_provincia" class="form-control" required
                                   maxlength="100" value="{{ instalacion.provincia.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Código Postal:</label>
                            <input type="text" name="codigo_postal" id="id_codigo_postal" class="form-control" required
                                   maxlength="100" value="{{ instalacion.codigo_postal.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Contacto:</label>
                            <input type="text" name="contacto" id="id_contacto" class="form-control" required
                                   maxlength="100" value="{{ instalacion.contacto.value }}"/>
                        </div>   
                        <div class="form-group">
                            <label class="col-form-label">Contacto cargo :</label>
                            <input type="text" name="contacto_cargo" id="id_contacto_cargo" class="form-control" required
                                   maxlength="100" value="{{ instalacion.contacto_cargo.value }}"/>
                        </div>                        
                        <div class="form-group">
                            <label class="col-form-label">Contacto teléfono:</label>
                            <input type="text" name="contacto_telefono" id="id_contacto_telefono" class="form-control" required
                                   maxlength="100" value="{{ instalacion.contacto_telefono.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Contacto movil:</label>
                            <input type="text" name="contacto_movil" id="id_contacto_movil" class="form-control" required
                                   maxlength="100" value="{{ instalacion.contacto_movil.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Contacto e-mail:</label>
                            <input type="text" name="contacto_email" id="id_contacto_email" class="form-control" required
                                   maxlength="100" value="{{ instalacion.contacto_email.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Técnico nombre:</label>
                            <input type="text" name="tecnico_nombre" id="id_tecnico_nombre" class="form-control" required
                                   maxlength="100" value="{{ instalacion.tecnico_nombre.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Técnico cargo :</label>
                            <input type="text" name="tecnico_cargo" id="id_tecnico_cargo" class="form-control" required
                                   maxlength="100" value="{{ instalacion.tecnico_cargo.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Técnico teléfono:</label>
                            <input type="text" name="tecnico_telefono" id="id_tecnico_telefono" class="form-control" required
                                   maxlength="100" value="{{ instalacion.tecnico_telefono.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Técnico movil:</label>
                            <input type="text" name="tecnico_movil" id="id_tecnico_movil" class="form-control" required
                                   maxlength="100" value="{{ instalacion.tecnico_movil.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Técnico e-mail:</label>
                            <input type="text" name="tecnico_email" id="id_tecnico_email" class="form-control" required
                                   maxlength="100" value="{{ instalacion.tecnico_email.value }}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Estado:</label>
                            <input type="checkbox" name="estado" id="id_estado" class="form-control" required
                                   value="{{ instalacion.estado.value }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock modal-content %}
    {% block modal-content-footer %}
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="reset" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
            onclick="javascript:window.location='/instalacion/todos'">Cerrar
    </button>
    {% endblock modal-content-footer %}
    {% block modal-content-form-tag-end %}
</form>
{% endblock modal-content-form-tag-end %}
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}