{% extends "layouts/base-modal.html" %}

{% block title %} Instalación {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/instalacion/todos'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}
<form method="POST" class="post-form" action="/instalacion/actualizar/{{instalacion.id}}/">
    {% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %} Instalación {% endblock modal-content-title %}
    {% block modal-content %}
    {% csrf_token %}
    {{ instalacion.management_form }}
    <div class="form-row m-0 p-2">
        <div class="form-group col-12 col-xs-5 col-sm-5 col-lg-3">
            <label class="col-form-label col-form-label-sm">Nombre comercial:</label>
            <input type="text" name="nombre_comercial" id="id_nombre_comercial" class="form-control form-control-sm" required maxlength="100"
                   value="{{ instalacion.nombre_comercial }}"/>
        </div>
        <div class="form-group col-12 col-xs-12 col-sm-12 col-lg-5">
            <label class="col-form-label col-form-label-sm">Dirección:</label>
            <input type="text" name="direccion" id="id_direccion" class="form-control form-control-sm" required
                   maxlength="255" value="{{ instalacion.direccion }}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-4">
            <label class="col-form-label col-form-label-sm">Población:</label>
            <input type="text" name="poblacion" id="id_poblacion" class="form-control form-control-sm" required
                   maxlength="100" value="{{instalacion.poblacion}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-4">
            <label class="col-form-label col-form-label-sm">Provincia:</label>
            <input type="text" name="provincia" id="id_provincia" class="form-control form-control-sm" required
                   maxlength="100" value="{{ instalacion.provincia }}"/>
        </div>
        <div class="form-group col-12 col-sm-4 col-sm-4 col-lg-4">
            <label class="col-form-label col-form-label-sm">Código postal:</label>
            <input type="text" name="codigo_postal" id="id_codigo_postal" class="form-control form-control-sm" required
                   maxlength="100" value="{{ instalacion.codigo_postal }}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
            <label class="col-form-label col-form-label-sm">Teléfono:</label>
            <input type="text" name="telefono" id="id_telefono" class="form-control form-control-sm" required
                   maxlength="100" value="{{ instalacion.telefono }}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
            <label class="col-form-label col-form-label-sm">Movil:</label>
            <input type="text" name="movil" id="id_movil" class="form-control form-control-sm" required
                   maxlength="100" value="{{ instalacion.movil }}"/>
        </div>
        <div class="form-group col-12 col-xs-12 col-sm-12 col-lg-6">
            <label class="col-form-label col-form-label-sm">e-mail:</label>
            <input type="text" name="email" id="id_email" class="form-control form-control-sm" required
                   maxlength="100" value="{{ instalacion.email }}"/>
        </div>
        <div class="form-group col-12">
            <label class="col-form-label">Contacto:</label>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
            <label class="col-form-label">Nombre:</label>
            <input type="text" name="contacto_nombre" id="id_contacto_nombre" class="form-control" required
                   maxlength="100" value="{{ instalacion.contacto_nombre}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
            <label class="col-form-label">Cargo :</label>
            <input type="text" name="contacto_cargo" id="id_contacto_cargo" class="form-control" required
                   maxlength="100" value="{{ instalacion.contacto_cargo}}"/>
        </div>
        <div class="form-group col-12 col-xs-12 col-sm-6 col-lg-6">
            <label class="col-form-label">e-mail:</label>
            <input type="text" name="contacto_email" id="id_contacto_email" class="form-control" required
                   maxlength="100" value="{{ instalacion.contacto_email}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
            <label class="col-form-label">Teléfono:</label>
            <input type="text" name="contacto_telefono" id="id_contacto_telefono" class="form-control"
                   required
                   maxlength="100" value="{{ instalacion.contacto_telefono}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
            <label class="col-form-label">Movil:</label>
            <input type="text" name="contacto_movil" id="id_contacto_movil" class="form-control" required
                   maxlength="100" value="{{ instalacion.contacto_movil}}"/>
        </div>
        <div class="form-group col-12">
            <label class="col-form-label">Técnico:</label>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
            <label class="col-form-label">Nombre:</label>
            <input type="text" name="tecnico_nombre" id="id_tecnico_nombre" class="form-control" required
                   maxlength="100" value="{{ instalacion.tecnico_nombre}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
            <label class="col-form-label">Cargo :</label>
            <input type="text" name="tecnico_cargo" id="id_tecnico_cargo" class="form-control" required
                   maxlength="100" value="{{ instalacion.tecnico_cargo}}"/>
        </div>
        <div class="form-group col-12 col-xs-12 col-sm-6 col-lg-6">
            <label class="col-form-label">e-mail:</label>
            <input type="text" name="tecnico_email" id="id_tecnico_email" class="form-control" required
                   maxlength="100" value="{{ instalacion.tecnico_email}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
            <label class="col-form-label">Teléfono:</label>
            <input type="text" name="tecnico_telefono" id="id_tecnico_telefono" class="form-control" required
                   maxlength="100" value="{{ instalacion.tecnico_telefono}}"/>
        </div>
        <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
            <label class="col-form-label">Movil:</label>
            <input type="text" name="tecnico_movil" id="id_tecnico_movil" class="form-control" required
                   maxlength="100" value="{{ instalacion.tecnico_movil}}"/>
        </div>

        <div class="form-group form-inline col-12">
            <label class="col-form-label mr-3">Estado:</label>
            <input type="checkbox" name="estado" id="id_estado" class="form-control" required
                   value="{{ instalacion.estado }}"/>
        </div>

        <!-- -->
        <div class="table-responsive w-100">
            <table class="display table table-striped table-hover">

                <thead>

                <tr>
                    <th><label for="id_monitor-mac_wifi">Mac wifi:</label></th>
                    <td><input type="text" name="monitor-mac_wifi" maxlength="30"
                                value="{{ instalacion.monitor.mac_wifi }}" required id="id_monitor-mac_wifi" >

                    </td>
                </tr>
                <tr>
                    <th><label for="id_monitor-mac_bluetooth">Mac bluetooth:</label></th>
                    <td><input type="text" name="monitor-mac_bluetooth" maxlength="30" required
                               value="{{ instalacion.monitor.mac_bluetooth }}"
                               id="id_monitor-mac_bluetooth"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-id_camara_zona">Id zona camara:</label></th>
                    <td><input type="text" name="monitor-id_camara_zona" maxlength="300" required
                               value="{{ instalacion.monitor.id_camara_zona }}" id="id_monitor-id_camara_zona"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-orientacion_display">Orientacion display:</label></th>
                    <td><input type="text" name="monitor-orientacion_display" value="H" maxlength="1" required
                               value="{{ instalacion.monitor.orientacion_display }}" id="id_monitor-orientacion_display"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-color_barra_cabecera">Color barra cabecera:</label></th>
                    <td><select name="monitor-color_barra_cabecera" id="id_monitor-color_barra_cabecera">
                        <option value="WTH" selected>Blanco</option>
                        <option value="G30">Gris 30</option>
                        <option value="G60">Gris 60</option>
                        <option value="BLK">Negro</option>
                    </select></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-logotipo">Logotipo:</label></th>
                    <td><input type="text" name="monitor-logotipo" value="NO" maxlength="300" required
                               value="{{ instalacion.monitor.logotipo }}" id="id_monitor-logotipo"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-logotipo_posicion">Logotipo posicion:</label></th>
                    <td><select name="monitor-logotipo_posicion" id="id_monitor-logotipo_posicion">
                        <option value="CTR">Centro</option>

                        <option value="RGT" selected>Derecha</option>

                        <option value="LFT">Izquierda</option>

                    </select></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-fondo_imagen">Fondo imagen:</label></th>
                    <td><input type="text" name="monitor-fondo_imagen" value="NO" maxlength="300" required
                               value="{{ instalacion.monitor.fondo_imagen }}"  id="id_monitor-fondo_imagen"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-aforo_formato">Aforo formato:</label></th>
                    <td><select name="monitor-aforo_formato" id="id_monitor-aforo_formato">
                        <option value="PCT">Porcentaje</option>

                        <option value="RGT" selected>Número</option>

                    </select></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-aforo_mostrar_maximo">Aforo mostrar maximo:</label></th>
                    <td><input type="checkbox" name="monitor-aforo_mostrar_maximo"
                               value="{{ instalacion.monitor.aforo_mostrar_maximo }}"  id="id_monitor-aforo_mostrar_maximo">
                    </td>
                </tr>
                <tr>
                    <th><label for="id_monitor-aforo_mostrar_casi_lleno">Aforo mostrar casi lleno:</label></th>
                    <td><input type="checkbox" name="monitor-aforo_mostrar_casi_lleno"
                               value="{{ instalacion.monitor.aforo_mostrar_casi_lleno }}" id="id_monitor-aforo_mostrar_casi_lleno"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-aforo_frase_verde">Aforo frase verde:</label></th>
                    <td><input type="text" name="monitor-aforo_frase_verde" maxlength="150" required
                               value="{{ instalacion.monitor.aforo_frase_verde }}" id="id_monitor-aforo_frase_verde"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-aforo_frase_ambar">Aforo frase ambar:</label></th>
                    <td><input type="text" name="monitor-aforo_frase_ambar" maxlength="150" required
                               value="{{ instalacion.monitor.aforo_frase_ambar }}" id="id_monitor-aforo_frase_ambar"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-aforo_frase_rojo">Aforo frase rojo:</label></th>
                    <td><input type="text" name="monitor-aforo_frase_rojo" maxlength="150" required
                               id="id_monitor-aforo_frase_rojo"></td>
                </tr>
                <tr>
                    <th><label for="id_monitor-estado">Estado:</label></th>
                    <td><input type="checkbox" name="monitor-estado" id="id_monitor-estado" checked></td>
                </tr>

            </table>
        </div>
        <!--------------------------------------------------------------------------------------->
        <div class="form-group bg-prmary col-12">
            {% if instalacion.errors %}
            <div class="alert alert-danger my-1">
                {% for field in instalacion %}
                {% if field.errors %}
                <strong class="mr-3">{{ field.name | capfirst }}: </strong>
                <br>
                {% for error in field.errors %}
                * <strong> {{ error|escape }}</strong>
                {% endfor %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
            {% for error in instalacion.non_field_errors %}
            <div class="alert alert-danger">
                * {{field.name}} <strong>{{ error|escape }}</strong>
                <br>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endblock modal-content %}
    {% block modal-content-footer %}
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="reset" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
            onclick="javascript:window.location='/instalacion/todos'">Cerrar
    </button>
    {% endblock modal-content-footer %}
    {% block modal-content-form-tag-end %}
</form>
{% endblock modal-content-form-tag-end %}
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}